<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Frijole" rel="stylesheet">
       <link rel="stylesheet" href="/styles.css"> 
       
    </head>
    <body>
        <div class="title">
            <p class="word_game">Word Game</p>
            <p class="guess_counter">Guesses Remaining: {{guessCount}}</p>
        </div>

        <form method="POST" action="/game" class="form-styles">
            <input type="text" name="guess" autofocus class="guess">
            <button type="submit" class="submit">Guess Letter</button>
        </form>

       {{#error}} <p>{{.}} </p>{{/error}}
       <div class="word-wrapper">
           <div class="word-revealer dashes">
               {{#dashes}}<div>{{.}}</div>{{/dashes}}
            </div>
        </div>
       <div class="title">Letters Guessed: {{#allGuesses}} <div> {{.}} ,</div> {{/allGuesses}}</div>
    </body>
</html>