<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Frijole" rel="stylesheet">
       <link rel="stylesheet" href="/styles.css"> 
    </head>
    <body>
        <div class="center-wrapper">
        <div class="full-width">Would you like to play a game?</div>
        <form method="POST" action="/">
        <div class="radio-wrap">
        <input type="radio" name="mode" value=0>Easy Mode</input>
        <input type="radio" name="mode" value=1>Normal Mode</input>
        <input type="radio" name="mode" value=2>Hard Mode</input>
        </div>
        <button class="submit play full-width" type="submit">PLAY!</button>       
        </form>
        </div>   
        
        
        
    </body>
</html>