<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Frijole" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1>You lost. the word was {{newWord}}</h1>
        <a href="/game">Would you like to play again?</a>
    </body>
</html>