<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Frijole" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <p class="title center-flex">You lost. the word was {{newWord}}</p>
        <div class="center-wrapper">
        <a class="play" href="/">Would you like to play again?</a>
        </div>
    </body>
</html>