<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Frijole" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <p class="title center-flex">You win!</p>
        <form method="POST" action='/win' class="form-styles">
        <input class="guess" type="text" name="name" placeholder="Add your name to the hall of fame" autofocus>
        <button class="submit" type="submit">Add</button>  
        </form>
        <div class="center-wrapper">
        <a class="play" href="/game">Would you like to play again?</a>
        </div>
    </body>
</html>