<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Frijole" rel="stylesheet">
       <link rel="stylesheet" href="/styles.css"> 
    </head>
    <body>
        <p class="title center-flex">You win!</p>
        <div class="title center-flex">You're part of the elite now.</div>
        <div class="wrapper">
        {{#names}}
        <p class="winners">{{.}}</p>
        {{/names}}
        </div>
        <div class="center-wrapper">
        <a class="play" href="/">Would you like to play again?</a>
        </div>
    </body>
</html>